<!DOCTYPE html>
<head>



<title>Hotel resverion</title>


</head>

<body>

<form action="http://127.0.0.1:5000/pred" method="POST">
<Label>no_of_adults</Label><input type="text"name='no_of_adults'>
<Label>no_of_children</Label><input type="text"name='no_of_children'>
<Label>no_of_weekend_nights</Label><input type="text"name='no_of_weekend_nights'>
<Label>no_of_week_nights</Label><input type="text"name='no_of_week_nights'>
<Label>type_of_meal_plan</Label><input type="text"name='type_of_meal_plan'>
<Label>required_car_parking_space</Label><input type="text"name='required_car_parking_space'>
<Label>room_type_reserved</Label><input type="text"name='room_type_reserved'>
<Label>lead_time</Label><input type="text"name='lead_time'>
<Label>arrival_year</Label><input type="text"name='arrival_year'>
<Label>arrival_month</Label><input type="text"name='arrival_month'>
<Label>arrival_date</Label><input type="text"name='arrival_date'>
<Label>market_segment_type</Label><input type="text"name='market_segment_type'>
<Label>repeated_guest</Label><input type="text"name='repeated_guest'>
<Label>no_of_previous_cancellations</Label><input type="text"name='no_of_previous_cancellations'>
<Label>no_of_previous_bookings_not_canceled</Label><input type="text"name='no_of_previous_bookings_not_canceled'>
<Label>avg_price_per_room</Label><input type="text"name='avg_price_per_room'>
<Label>no_of_special_requests</Label><input type="text"name='no_of_special_requests'>
<button type="submit">submit</button>
</form>
</body>








											